*{
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.conteudoLateralEsquerda{
    background-color: #fdfdfd;
    max-height: 100vh;
    border-right: solid 1px #999;
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.conteudoLateralEsquerda .logo{
    margin: 40px 0 0 0;
    width: 50%;
    align-self: center;
}

.conteudoLateralEsquerda .text-menu{
    padding: 10px;
    margin: 10px;
    font-size: 2.5vh;
    width: 100%;
    text-align: justify;
    justify-items: center;
    align-items: center;
    display: flex;
}

.conteudoLateralEsquerda ul{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.perfil{
    margin:auto 0 10% 0 !important;
}