body {
  background: #fafafa;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.conteudoLateralDireita,
.conteudoLateralEsquerda,
.conteudoCentral {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudoLateralEsquerda {
  display: flex;
  min-width: 20vw;
}

.conteudoLateralDireita {
  background: blue;
  width:30vw;
}

.conteudoCentral {
  width:50vw;
  background: #fdfdfd;
}